{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'my.account' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div id="pictures-bloc" class="card-header position-relative min-vh-25 mb-8">
                    <div class="cover-image">
                        <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url({{ user_picture('coverPictureProfile') }});">
                        </div>
                        <!--/.bg-holder-->

                        <input accept="image/*" data-property="coverPictureProfile" data-path-upload="{{ path('app_picture_update') }}" class="d-none" id="upload-cover-image" type="file" />
                        <label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>{{ 'change.photo.cover' | trans }}</span></label>
                    </div>
                    <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                        <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"> <img src="{{ user_picture('pictureProfile') }}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                            <input data-property="pictureProfile" data-path-upload="{{ path('app_picture_update') }}" class="d-none" id="profile-image" type="file" accept="image/*"/>
                            <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span class="bg-holder overlay overlay-0"></span><span class="z-1 text-white dark__text-white text-center fs--1"><span class="fas fa-camera"></span><span class="d-block">{{ 'update' | trans }}</span></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">{{ 'my.account'|trans }}</h5>
                </div>
                <div class="card-body bg-light">
                    {% set extra_class = formSubmitted ? ' was-validated' : '' %}
                    {{ form_start(form, {'attr': {'class': 'row g-3 needs-validation' ~ extra_class, 'novalidate': 'novalidate'}}) }}
                    <div class="col-lg-6">
                        {{ form_label(form.firstName, 'first_name'|trans, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        {% include 'includes/_form_error.html.twig' with {'errors': form.firstName.vars.errors} %}
                    </div>
                    <div class="col-lg-6">
                        {{ form_label(form.lastName, 'last_name'|trans, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        {% include 'includes/_form_error.html.twig' with {'errors': form.lastName.vars.errors} %}
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            {{ form_label(form.email, 'email'|trans, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {% include 'includes/_form_error.html.twig' with {'errors': form.email.vars.errors} %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {{ form_label(form.password.plainPassword.first, 'password'|trans, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.password.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        {% include 'includes/_form_error.html.twig' with {'errors': form.password.plainPassword.first.vars.errors} %}
                    </div>
                    <div class="col-lg-6">
                        {{ form_label(form.password.plainPassword.second, 'password.repeat'|trans, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.password.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        {% include 'includes/_form_error.html.twig' with {'errors': form.password.plainPassword.second.vars.errors} %}
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">{{ 'update'|trans }}</button>
                    </div>

                    {{ form_end(form) }}

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}