{% extends "security/base.html.twig" %}

{% block title %}
    {{ parent() ~ 'login'|trans }}
{% endblock %}

{% block body %}
    <form method="post">
        <div class="card">
            <div class="card-header bg-circle-shape bg-shape text-center p-2"><a
                        class="font-sans-serif fw-bolder fs-4 z-1 position-relative link-light"
                        href="{{ path('app_login') }}" data-bs-theme="light">{{ app_name }}</a></div>
            <div class="card-body p-4">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h5>{{ 'login'|trans }}</h5>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">{{ 'email.address'|trans }}</label>
                    <input id="username" type="email" value="{{ last_username }}" name="_username" class="form-control"
                           autocomplete="email" required autofocus>

                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">{{ 'password'|trans }}</label>
                    </div>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password"
                           required>
                </div>

                {% if error %}
                    <div class="d-flex justify-content-between  alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="row flex-between-center">
                    <div class="col-auto">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" id="split-checkbox" name="_remember_me"/>
                            <label class="form-check-label mb-0" for="split-checkbox">{{ 'remember.me'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-auto"><a class="fs--1"
                                             href="{{ path('app_forgot_password_request') }}">{{ 'forgot.password'|trans }}</a></div>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                        {{ 'login'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
