{% extends 'security/base.html.twig' %}

{% block title %}{{ parent() ~ 'reset.password'|trans([], 'email') }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-1 position-relative link-light" href="{{ path('app_home') }}" data-bs-theme="light">{{ app_name }}</a></div>
        <div class="card-body p-4">
            <div class="text-center">
                <h4 class="mb-0"> {{ 'forgot.password'|trans }}</h4><small>{{ 'sent.reset.link.message'|trans }}</small>

                {{ form_start(requestForm, {'attr': {'class': 'mb-3 mt-4'}}) }}

                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'email.address'|trans }}) }}

                <div class="mb-3"></div>
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">{{ 'send.reset.link'|trans }}</button>

                {{ form_rest(requestForm) }}
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
